# Gradle
.gradle
local.properties
build

# IntelliJ IDEA
.idea
*.iml
!.idea/
.idea/*
!codeStyles/

# OSX
.DS_Store

# Firebase
google-services.json

# Crashlytics
crashlytics.properties

# Trakt
trakt.properties
api.properties
