/*

!.gitignore
!checkstyle.xml
!init.py
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat

!gradle/

!trakt-api/
trakt-api/*

!trakt-api/src/

!trakt-api/build.gradle

!cathode/
cathode/*

!cathode/libs/
!cathode/src/

!cathode/build.gradle

cathode/src/main/res/values/secrets.xml

.DS_store
