<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.simonvt.trakt"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.simonvt.trakt.TraktApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme">

        <!-- Activities -->
        <activity
            android:name="net.simonvt.trakt.ui.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="net.simonvt.trakt.settings.Settings" />

        <!-- Providers -->
        <provider
            android:name="net.simonvt.trakt.provider.TraktProvider"
            android:authorities="net.simonvt.trakt.provider.TraktProvider" />

        <!-- Receivers -->
        <receiver android:name="net.simonvt.trakt.remote.TaskServiceReceiver" />

        <!-- Services -->
        <service android:name="net.simonvt.trakt.remote.TraktTaskService" />

        <service android:name="net.simonvt.trakt.service.DashClockService"
            android:icon="@drawable/ic_action_search"
            android:label="@string/dashclock_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description" android:value="@string/dashclock_description" />
        </service>

    </application>

</manifest>
