<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.simonvt.cathode">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

  <uses-permission android:name="android.permission.READ_CALENDAR"/>
  <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

  <application
      android:name=".CathodeApp"
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/Theme"
      android:allowBackup="true">

    <!-- Activities -->
    <activity
        android:name="net.simonvt.cathode.ui.HomeActivity"
        android:label="@string/app_name"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name="net.simonvt.cathode.settings.Settings"/>

    <!-- Providers -->
    <provider
        android:name=".provider.CathodeProvider"
        android:authorities="net.simonvt.cathode.provider.CathodeProvider"
        android:exported="true"/>

    <!-- Receivers -->
    <receiver android:name="net.simonvt.cathode.remote.TaskServiceReceiver"/>

    <!-- Services -->
    <service android:name="net.simonvt.cathode.remote.TraktTaskService"/>

    <service android:name="net.simonvt.cathode.service.DashClockService"
        android:icon="@drawable/ic_action_search"
        android:label="@string/dashclock_title"
        android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
      <intent-filter>
        <action android:name="com.google.android.apps.dashclock.Extension"/>
      </intent-filter>
      <meta-data android:name="protocolVersion" android:value="2"/>
      <meta-data android:name="worldReadable" android:value="true"/>
      <meta-data android:name="description" android:value="@string/dashclock_description"/>
    </service>

    <service
        android:name="net.simonvt.cathode.service.AuthenticatorService"
        android:exported="true">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data
          android:name="android.accounts.AccountAuthenticator"
          android:resource="@xml/authenticator"/>
    </service>

    <service
        android:name="net.simonvt.cathode.service.CalendarService"
        android:exported="true">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data android:name="android.content.SyncAdapter"
          android:resource="@xml/calendar_syncadapter"/>
    </service>

  </application>

</manifest>
